[Unit]
Description=snail site
After=network.target

[Service]
User=snail
Group=snail
WorkingDirectory=/home/snail/snailcam
ExecStart=/home/snail/snailcam/run.sh
TimeoutStopSec=1

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
